@charset "utf-8";
/* CSS Document */

/*后台内容样式表*/

/*表单信息*/
#main_warp {
	display: block;
	clear: both;
	padding: 0px 20px 20px;
	overflow: hidden;
}

#content {
	width: 100%;
	margin-bottom: 10px;
	padding-top: 10px;
	overflow: hidden;
}

/*待办事项*/
.matter {
	border: 1px solid #dedede;
	margin-top: 10px;
}

.matter i {
	display: inline-block;
	font-style: normal;
	font-weight: bold;
	margin: 0 3px;
	color: #f22e00;
}

.matter ul {
	margin: 10px;
}

.matter ul li {
	color: #3c3c3c;
	height: 24px;
	line-height: 24px;
}

.matter ul li.on {
	color: #f22e00;
}

/*快速入口*/
.entrance {
	border: 1px solid #dedede;
	margin-top: 10px;
	overflow: hidden;
}

.title_nav {
	height: 36px;
	background: #f5f5f5;
	padding-left: 15px;
	color: #3c3c3c;
	font-style: 14px;
	font-weight: bold;
	line-height: 36px;
	display: block;
	clear: both;
}

.head {
	height: 38px;
	width: 100%;
	float: left;
}

.head span {
	background: #eaf5ff;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
	width: 91px;
	height: 38px;
	display: block;
	color: #3c3c3c;
	font-weight: bold;
	line-height: 38px;
	text-align: center;
	float: left;
}

.head p {
	float: left;
	margin-right: 7px;
	text-align: center;
	line-height: 38px;
	height: 38px;
	color: #3c3c3c;
	text-indent: 10px;
}

/*操作手册下载*/
.top {
	height: 38px;
	width: 100%;
	float: left;
	margin-left: 18px;
	display: inline;
	overflow: hidden;
}

.top p {
	float: left;
	margin-right: 7px;
	text-align: center;
	line-height: 38px;
	height: 38px;
	color: #3c3c3c;
}

/*条件搜索*/
/*.searchbar{ display:block; clear:both; background:#f5f5f5; border:1px solid #dedede; padding:5px 10px; margin-bottom:10px; _height:1%; _margin-bottom:10px; _padding-bottom:1px; overflow:hidden; *padding-top:0px;}
*/
.searchbar, .inp_addinfo {
	display: block;
	clear: both;
	background: #f5f5f5;
	border: 1px solid #dedede;
	padding: 5px 10px;
	_padding-bottom: 10px;
	margin-bottom: 10px;
	_height: 1%;
	overflow: hidden;
}

.searchbar ul li {
	display: inline-block;
	float: left;
	height: 28px;
	margin: 5px 0px;
	margin-right: 30px;
}

.searchbar ul li label, .inp_addinfo ul li label {
	margin-right: -4px;
	text-align: right;
	display: inline-block;
	width: 60px;
}

.seller_nick1 {
	width: 182px;
	height: 26px;
	padding: 0px 8px;
	line-height: 26px;
	vertical-align: middle;
	border: 1px solid #ccc;
	color: #3c3c3c;
}

.seller_nick2 {
	width: 300px;
	height: 26px;
	padding: 0px 8px;
	line-height: 26px;
	vertical-align: middle;
	border: 1px solid #ccc;
	color: #3c3c3c;
}

.seller_time {
	width: 70px;
	height: 18px;
	padding: 4px 8px;
	line-height: 18px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	color: #3c3c3c;
}

.k_b {
	display: inline-block;
	margin: 0 5px;
}

.ks_select {
	display: inline-block;
	position: relative;
	padding: 5px 8px;
	font-size: 12px;
	vertical-align: middle;
	border: 1px solid #ccc;
	outline: 0;
	cursor: pointer;
}

.w_select_1 {
	width: 70px;
}

.w_select_2 {
	width: 108px;
}

.col_to {
	display: inline-block;
	padding: 0 5px;
}

.search_btn {
	display: inline-block;
	background: url(../images/btn_1.gif) no-repeat;
	line-height: 28px;
	width: 90px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	height: 28px;
	border: 0px;
	cursor: pointer; /* margin:0 5px;*/
}

.rewrite_btn {
	display: inline-block;
	background: url(../images/btn_2.gif) no-repeat;
	line-height: 28px;
	width: 90px;
	color: #3c3c3c;
	font-weight: bold;
	text-align: center;
	height: 28px;
	border: 0px;
	cursor: pointer; /* margin:0 5px;*/
	margin-left: 10px;
}

.search_category input {
	background: url(../images/l_ser_icon.gif) no-repeat 5px 5px;
	width: 198px;
	height: 26px;
	padding: 0px 5px 0px 26px;
	line-height: 26px;
	vertical-align: middle;
	border: 1px solid #dddddd;
	color: #3c3c3c;
	margin-bottom: 10px;
}

.inp_addinfo ul li {
	display: block;
	clear: both;
	padding: 5px 0px;
	overflow: hidden;
	line-height: 28px;
}

/**
*弹出窗口
*/
.open_dow_warp {
	display: block;
	width: 560px;
	background: url(../images/opw_bg.png);
	padding: 6px;
	position: absolute;
}

.open_dow_tit {
	display: block;
	clear: both;
	height: 34px;
	line-height: 34px;
	padding: 0px 10px;
	font-weight: bold;
	color: #fff;
	background: #526481;
}

.open_dow_tit img {
	display: block;
	float: right;
	margin-top: 10px;
}

.open_dow_cont {
	display: block;
	padding: 20px 30px;
	background: #FFF;
	overflow: hidden;
}

.open_dow_cont ul li {
	margin-bottom: 10px;
}

.open_dow_cont ul li label {
	text-align: right;
}

/**/
.form_no_open {
	display: block;
}

.form_no_open ul li label {
	width: 90px;
	text-align: right;
	display: inline-block;
}

.foo_btnbox {
	display: block;
	padding: 10px 0 0 85px;
}

.btn_midd {
	vertical-align: middle;
	margin-left: 10px;
}

/*tab切换*/
.business_tab_bg {
	display: block;
	clear: bothl;
	background: #f5f5f5;
	border: 1px solid #dedede;
	height: 40px;
	position: relative;
}

.business_tab_nav {
	position: absolute;
	top: -1px;
	left: -1px;
	width: 100%;
	display: block;
	clear: both;
}

.business_tab_nav li.on {
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-top: 2px solid #db384c;
	font-weight: bold;
	background: #FFF;
}

.business_tab_nav li {
	padding: 0 20px;
	text-align: center;
	line-height: 40px;
	display: block;
	float: left;
}

.business_tab_nav li a:hover {
	text-decoration: none;
}

/*排序*/
.td_row_box {
	display: inline-block;
	width: 9px;
	height: 16px;
	overflow: hidden;
	vertical-align: middle;
	float: right;
	margin: 10px 8px 0 0;
}

.td_row_box a.t_row {
	display: block;
	clear: both;
	width: 9px;
	height: 7px;
	background: url(../images/px_icon.png) no-repeat 0 0;
	overflow: hidden;
}

.td_row_box a.t_row:hover {
	background: url(../images/px_icon.png) no-repeat -10px 0;
}

.td_row_box a.b_row {
	display: block;
	clear: both;
	width: 9px;
	height: 7px;
	background: url(../images/px_icon.png) no-repeat 0 -8px;
	overflow: hidden;
}

.td_row_box a.b_row:hover {
	background: url(../images/px_icon.png) no-repeat -10px -8px;
}