@charset "utf-8";
/* CSS Document */

/*
*
*功能菜单
*/
.left_warp {
	display: block;
	clear: both;
	width: 210px;
	position: relative;
}

.left_bg {
	display: block;
	clear: both;
	background: url(../images/left_bg.gif) repeat-y;
	overflow: hidden;
}
/*一级菜单*/
.left_menu_1, .left_menu_2, .left_menu_3, .left_menu_4 {
	padding: 0;
	margin: 0;
}

.left_menu_1 li {
	display: block;
	clear: both;
	font-size: 12px;
	font-weight: bold;
}

.left_menu_1 li a.hide_1 {
	display: block;
	clear: both;
	height: 38px;
	color: #fff;
	background: url(../images/nav_1.gif) no-repeat;
	line-height: 38px;
}

.left_menu_1 li a.hide_1t {
	display: block;
	clear: both;
	height: 33px;
	color: #fff;
	background: url(../images/nav_1t.gif) no-repeat;
	line-height: 28px;
}

.left_menu_1 li .hide_open {
	display: block;
	float: left;
	background: url(../images/icon_j2.gif) no-repeat;
	height: 8px;
	width: 8px;
	margin: 14px 10px 0 15px;
}

.left_menu_1 li .hide_close {
	display: block;
	float: left;
	background: url(../images/icon_j1.gif) no-repeat;
	height: 8px;
	width: 8px;
	margin: 14px 10px 0 15px;
}

.left_menu_1 li .hide_open_1t {
	display: block;
	float: left;
	background: url(../images/icon_j2.gif) no-repeat;
	height: 8px;
	width: 8px;
	margin: 9px 10px 0 15px;
}

.left_menu_1 li .hide_close_1t {
	display: block;
	float: left;
	background: url(../images/icon_j1.gif) no-repeat;
	height: 8px;
	width: 8px;
	margin: 9px 10px 0 15px;
}
/*二级菜单*/
.left_menu_2 li {
	display: block;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/nav_2.gif) no-repeat;
}

.left_menu_2 li a.hide_2, .left_menu_3 li a.hide_3 {
	display: block;
	clear: both;
	height: 38px;
	padding-left: 35px;
	line-height: 38px;
}

.left_menu_2 li .hide_open_2 {
	display: block;
	float: right;
	background: url(../images/icon_z2.gif) no-repeat;
	height: 4px;
	width: 7px;
	margin: 16px 10px 0 0;
}

.left_menu_2 li .hide_close_2 {
	display: block;
	float: right;
	background: url(../images/icon_z1.gif) no-repeat;
	height: 7px;
	width: 4px;
	margin: 15px 10px 0 0;
}
/*三级菜单*/
.left_menu_3 li {
	display: block;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/nav_3.gif) no-repeat;
}

.left_menu_3 li a.hide_3, .left_menu_4 li a.hide_4 {
	display: block;
	clear: both;
	height: 38px;
	padding-left: 45px;
	line-height: 38px;
	background: url(../images/nav_3.gif) no-repeat;
}

.left_menu_3 li .hide_open_3 {
	display: block;
	float: right;
	background: url(../images/icon_z2.gif) no-repeat;
	height: 4px;
	width: 7px;
	margin: 16px 10px 0 0;
}

.left_menu_3 li .hide_close_3 {
	display: block;
	float: right;
	background: url(../images/icon_z1.gif) no-repeat;
	height: 7px;
	width: 4px;
	margin: 15px 10px 0 0;
}
/* .left_menu_3 li { */
/* 	display: block; */
/* 	clear: both; */
/* 	font-size: 12px; */
/* 	font-weight: normal; */
/* 	background: url(../images/nav_3.gif) no-repeat; */
/* } */

/* .left_menu_3 li a:hover { */
/* 	display: block; */
/* 	background: url(../images/list_on.gif) no-repeat; */
/* 	font-weight: bold; */
/* } */

/* .left_menu_3 li a.on { */
/* 	display: block; */
/* 	background: url(../images/list_on.gif) no-repeat; */
/* 	font-weight: bold; */
/* } */
/*四级菜单*/
.left_menu_4 li {
	display: block;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	background: url(../images/nav_4.gif) no-repeat;
}

.left_menu_4 li a:hover {
	display: block;
	background: url(../images/list_on.gif) no-repeat;
	font-weight: bold;
}
.left_menu_4 li a.hide_4 {
	display: block;
	clear: both;
	height: 38px;
	padding-left: 55px;
	line-height: 38px;
}
.left_menu_4 li a.on {
	display: block;
	background: url(../images/list_on.gif) no-repeat;
	font-weight: bold;
}